@font-face {
	font-family: Scriptina;
	src: url(fonts/Scriptina.ttf);
}

html{overflow-x:hidden;}

* {
    padding: 0;
    margin: 0;
	
}

body{
    width: 100%;
    height: 4340px;
}

header{
    width: 100%;
    height: 70px;
	background: rgba(86, 83, 76, 0.6);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	z-index: 11;
}

.top-info{
	width: 76%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	color: #ffffff;
	font-family: "Scriptina";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 9px;
}

nav {
    height: 10px;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 760px;
	height: 14px;
}

.tilde{
	color: #ffffff;
	font-family: "Alegreya";
	font-size: 14px;
	letter-spacing: 4.2px;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
}

ul li{
	width: 770px;
	color: #ffffff;
	font-family: "Alegreya";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 4.2px;
	list-style-type: none;
}

a{
    text-decoration: none;
}

ul li a{
   color: #fff; 
}

.social{
	width: 100px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main{
	width: 100%;
}

/*Slider*/
.slider {
    background-image: url(images/bg.png);
    width: 100%;
    height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slider h1{
	margin-top: 8rem;
	width: 790px;
	height: 92px;
	text-shadow: 0 1px 0 #3d3029;
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 92px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 6.9px;
}

.line{
	height: 125px;
	display: flex;
	align-items: center;
}

.slider p{
	width: 544px;
	height: 56px;
	text-align: center;
	text-shadow: 0 1px 0 #3d3029;
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 2.4px;
}

.slider a{
	width: 200px;
	height: 50px;
	border: 1px dashed #9e9c93;
	background: rgba(86, 83, 76, 0.6);
	margin: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
	
.slider a span{
	color: #ffffff;
	font-family: "Alegreya";
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 4.2px;
}

.junction{
	width: 100%;
	position: absolute;
	margin-top: -3.5rem;
}

/*Section cakes*/
.cakes{
	width: 100%;
	height: 760px;
	background: url(images/bg-cakes.png);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}



.about-cakes{
	width: 37%;
	height: 560px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.about-cakes h2{
	height: 45px;
	font-family: "Alegreya";
	font-weight: 700;
	line-height: 30px;
	color: #56534c;
	font-size: 48px;
	letter-spacing: 1.2px;
}

.about-cakes h4{
	height: 65px;
	color: #a47d5e;
	font-family: "Alegreya";
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.about-cakes p{
	width: 484px;
	height: 130px;
	color: #56534c;
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1.4px;
	text-align: center;
}

.about-cakes h3{
	height: 45px;
	color: #56534c;
	font-family: "Alegreya";
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.6px;
}

.img-chef{
	height: 140px;
}

.quite{
	width: 300px;
	color: #a47d5e;
	font-family: "Scriptina";
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	font-family: "Scriptina";
	letter-spacing: 0.6px;
	text-align: center;
}

.quite-open,
.quite-close{
	margin: -2rem;
	width: 420px;
	opacity: 0.5;
	color: #56534c;
	font-family: "Times New Roman PSMT";
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 1.5px;
	display: flex;
	align-items: center;
}

.quite-open{
	justify-content: flex-start;
}

.quite-close{
	justify-content: flex-end;
}


.img-cakes{

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.img-cakes p{
	width: 160px;
	height: 57px;
	color: #c9b176;
	font-family: "Alegreya";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	text-align: center;
	position: absolute;
}

.collage-cakes{
	position: relative;
}

/*Section pancakes*/
.pancakes{
	width: 100%;
	height: 760px;
	background: url(images/bg-pancakes.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.recipe{
	width: 70%;
	height: 512px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	position: relative;
}

.img-pancakes{
	width: 585px;
	height: 512px;
	background: url(images/img-pancakes.png);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.stars-pancakes{
	margin-left: 2rem;
}

.text-recipe{
	width: 568px;
	height: 512px;
	background: url(images/bg-text.png);
	margin-left: -12rem;
	z-index: 8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text-recipe-food{
	width: 400px;
	height: 330px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.text-recipe-food h2{
	width: 400px;
	height: 65px;
	font-family: "Alegreya";
	font-weight: 700;
	color: #56534c;
	font-size: 48px;
	letter-spacing: 1.2px;
	margin-top: 2rem;
}

.text-recipe-food h4{
	width: 400px;
	height: 65px;
	color: #a47d5e;
	font-family: "Alegreya";
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.4px;
}

.scroll-food{
	width: 426px;
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.time-recipe{
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: absolute;
	margin-top: -12rem;
	z-index: 9;
}

.time{
	background: url(images/bg-time.png);
		box-shadow: 0 25px 54px rgba(105, 80, 58, 0.45);
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-family: "Alegreya";
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.text-recipe-food p{
	width: 390px;
	height: 61px;
	color: #56534c;
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1.4px;
}
	

.time-ready{
	color: #a47d5e;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

.time-number{
	color: #dfc691;
	font-size: 92px;
	letter-spacing: 9.2px;
}

.time-mins{
	color: #979285;
	letter-spacing: 1.8px;
}

/*Section breakfast*/
.breakfast{
	width: 100%;
	height: 760px;
	background: url(images/bg-breakfast.png);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}


.menu-breakfast{
	height: 600px;
	width: 850px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menu-title{
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.menu-breakfast h2{
	font-family: "Alegreya";
	font-weight: 700;
	line-height: 30px;
	color: #ffffff;
	font-size: 60px;
	letter-spacing: 3px;
}

.menu-breakfast h4{
	font-size: 18px;
	font-family: "Alegreya";
	color: #c8a593;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	line-height: 50px;
}

.item-breakfast{
	height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.name-breakfast{
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	font-family: "Alegreya";
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1.5px;

}

.composition{
	color: #c2beba;
	font-family: "Proxima Nova";
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.8px;
}

.price-breakfast{
	color: #dfc691;
	font-family: "Alegreya";
	font-size: 36px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 1.8px;
}

.breakfast-right{
	width: 465px;
	height: 600px;
	background: url(images/bg-list.png);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.wrapper-breakfast-right{
	width: 465px;
	height: 520px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.est{
	width: 240px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.est-text{
	width: 28px;
	height: 0px;
	color: #56534c;
	font-family: "Alegreya";
	font-size: 14px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}

.breakfast-right h2{
	width: 340px;
	height: 130px;
	color: #56534c;
	font-family: "Alegreya";
	font-size: 44px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 1.1px;
	text-align: center;
	display: flex;
	align-items: flex-end;
}

.text-list{
	width: 324px;
	color: #56534c;
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.7px;
	text-align: center;
}

.read{
	width: 190px;
	height: 50px;
	border: 1px solid #9e9c93;
	display: flex;
	justify-content: center;
	align-items: center;
}

.breakfast-right a{
	color: #a47d5e;
	font-family: "Alegreya";
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.9px;
}

.millet{
	width: 330px;
	right: 0;
	margin-top: 17rem;
	position: absolute;
	opacity: 0.5;
	overflow:hidden;
}

/*Section sandwich*/
.sandwich {
	width: 100%;
	height: 920px;
	background: url(images/bg-sandwich.png);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.field{
	height: 180px;
}

.field h2{
	height: 45px;
	font-weight: 700;
	line-height: 30px;
	font-family: "Alegreya";
	color: #56534c;
	font-size: 48px;
	letter-spacing: 1.2px;
	text-align: center;
	margin-top: -2.5rem;
}

.field p{
	color: #a47d5e;
	font-family: "Alegreya";
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}

.sandwich-about{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.items-sandwich{
	width: 30%;
	height: 740px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.item-sandwich{
	height: 250px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.item-sandwich h3{
	height: 60px;
	color: #a47d5e;
	font-family: "Alegreya";
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.75px;
	display: flex;
	align-items: center;
}

.item-sandwich p{
	width: 290px;
	height: 33px;
	color: #56534c;
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 1.4px;
	text-align: center;
}

.button-full{
	width: 171px;
	height: 60px;
	border: 1px dashed #dfc691;
	background-color: #ffffff;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	margin-top: 16.5rem;
	margin-left: -8rem;
}

.button-full span{ 
	
	color: #dfc691;
	font-family: "Alegreya";
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.9px;
}

.img-sandwich{
	background: url(images/sandwich.png) no-repeat;
	width: 53%;
	height: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.img-sandwich-shadow{
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.time-sandwich{
	position: absolute;
	margin-left:34.6%;
	width: 200px;
	height: 600px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

.time-prep,
.time-cook{
	width: 200px;
	height: 197px;
	background-color: #ffffff;
	opacity: 0.8;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	
}

.sandwich-ready{
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	background: url(images/bg-time.png);
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
	font-family: "Alegreya";
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	
}

.prep-ready,
.cook-ready{
	color: #a47d5e;
	font-family: "Alegreya";
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.prep-number,
.cook-number{
	font-family: "Alegreya";
	font-weight: 700;
	line-height: 30px;
	color: #56534c;
	font-size: 60px;
	letter-spacing: 6px;
}

.cook-mins,
.prep-mins{
	font-family: "Alegreya";
	font-weight: 700;
	line-height: 30px;
	color: #979285;
	letter-spacing: 1.8px;
}

.ready-ready{
	color: #a47d5e;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

.ready-number{
	color: #dfc691;
	font-size: 92px;
	letter-spacing: 9.2px;
}

.ready-mins{
	color: #979285;
	letter-spacing: 1.8px;
}

/*Footer*/
footer{
	width: 100%;
	height: 240px;
	background-color: #f3f1e9;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-decoration: none;
}

.border-footer{
	width: 100%;
	box-shadow: 0 35px 30px 20px rgba(0, 0, 0, 0.05);
	background: rgb(194, 190, 186);
	opacity: 0.5;
	position: absolute;
	margin-top: -2rem;
}

.border-footer-bottom{
	width: 100%;
	background: rgb(194, 190, 186);
	opacity: 0.5;
	position: absolute;
	margin-top: 2rem;
}

.menu-footer{
	width: 515px;
	height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #56534c;
	font-family: "Alegreya";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 4.2px;
	position: relative;
}

.logo-footer{
	width: 240px;
	height: 44px;
	color: #56534c;
	font-family: "Scriptina";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 9px;
	display: flex;
	justify-content: center;
}